<!DOCTYPE html>
<html lang="en">

<head>
	#parse("/fragments/account_header.html")
	<script type="text/javascript">
		var userid = '${user.id}';
	</script>
</head>

<body>
	<div class="container emp-profile">

		<div class="row justify-content-end">

			#if($visit)
			<div class="col-sm-9">
				<button type="button" class="btn btn-primary" id="backButton">Back</button>
			</div>
			#end
			#if($role == 'Admin')
			<div class="col-sm-0">
				<button type="button" class="btn btn-primary" id="admin">Admin</button>
			</div>
			#end
			<div class="col-sm-2">
				<button type="button" class="btn btn-primary" id="logout">Logout</button>
			</div>
		</div>

		<div class="row d-flex justify-content-center py-4">
			<div class="col-xs-1 text-center">
				<div class="profile-head">
					<h5>$user.name</h5>
					<h6>Web Developer and Designer</h6>
					<p>
						Vacations left : <span>$user.vacations</span>
					</p>
				</div>
			</div>
		</div>
		<div class="row d-flex justify-content-center">
			<div class="col-md-0">
				<button type="button" class="btn btn-primary" id="add">Request Vacation</button>
			</div>
		</div>
		<hr>
		<div class="row d-flex justify-content-center">
			<div class="col-md-4">
				<div class="tab-content profile-tab">
					<div class="tab-pane fade show active">
						<div class="row">
							<div class="col-md-6">
								<label>User Id</label>
							</div>
							<div class="col-md-6">
								<p>$user.id</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<label>Name</label>
							</div>
							<div class="col-md-6">
								<p>$user.name</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<label>Email</label>
							</div>
							<div class="col-md-6">
								<p>$user.email</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<label>Phone</label>
							</div>
							<div class="col-md-6">
								<p>$user.phone</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<label>Birth Date</label>
							</div>
							<div class="col-md-6">
								<p>$user.getBirthDateFormatted()</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<label>Address</label>
							</div>
							<div class="col-md-6">
								<p>$user.address</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<label>Country</label>
							</div>
							<div class="col-md-6">
								<p>$user.country</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="row d-flex justify-content-center">
			<div class="col-md-0">
				<div id=""><button type="button" class="btn btn-primary" id="view">View Vacation List</button></div>
			</div>
		</div>
		#if($role == 'Admin')
		<hr>
		<div class="row d-flex justify-content-center">
			<div class="col-md-12">
				<div id="form_vacation_list_account"></div>
			</div>
		</div>
		<script type="text/javascript" src="static/res/public/js/account-admin.js"></script>
		<hr>
		#end
	</div>

	<script type="text/javascript" src="static/res/public/js/account.js"></script>
	<script type="text/javascript" src="static/res/public/js/public-functions.js"></script>
</body>

</html>