<!DOCTYPE html>
<html>
	<head>
		#parse("/fragments/account_header.html")
		<script type="text/javascript">
        	var userid = '${user.id}';
        	var userName = '${user.name}';
		</script>
	</head>
<body>
	<div class="container emp-profile">
		<button type="button" class="btn btn-primary" id="backButton">Back</button>
		<div class="row d-flex justify-content-center">
			<div class="col-xs-1 text-center">
				<div class="profile-head">
					<h5>$user.name</h5>
					<h6>Web Developer and Designer</h6>
					<p class="proile-rating">
						Vacations : <span>0</span>
					</p>
				</div>
			</div>
		</div>
		<div class="row d-flex justify-content-center">
			<div class="col-md-0">
				<div id=""><button type="button" class="btn btn-primary" id="add">Add Vacation</button></div>
			</div>
		</div>
		<hr>
		<div class="row d-flex justify-content-center">
			<div class="col-md-4">
				<div class="tab-content profile-tab">
					<div class="tab-pane fade show active">
						<div class="row">
							<div class="col-md-6">
								<label>User Id</label>
							</div>
							<div class="col-md-6">
								<p>$user.id</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<label>Name</label>
							</div>
							<div class="col-md-6">
								<p>$user.name</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<label>Email</label>
							</div>
							<div class="col-md-6">
								<p>$user.email</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<label>Phone</label>
							</div>
							<div class="col-md-6">
								<p>$user.phone</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<label>Birth Date</label>
							</div>
							<div class="col-md-6">
								<p>$user.getBirthDateFormated()</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<label>Address</label>
							</div>
							<div class="col-md-6">
								<p>$user.address</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<label>Country</label>
							</div>
							<div class="col-md-6">
								<p>$user.country</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="row d-flex justify-content-center">
			<div class="col-md-8">
				<div id="form_vacation_list"></div>
			</div>
		</div>
		<hr>
	</div>
</body>
<script type="text/javascript" src="static/res/public/js/account.js"></script>
</html>