<!DOCTYPE html>
<html lang="en">

<head>
	#parse("/fragments/index_header.html")
	<title>Creator</title>
	<script type="text/javascript">
		var user = '${user}';
	</script>
</head>

<body>
	<div id="layout" style="height: 100%"></div>
	<script type="text/javascript" src="static/res/public/js/creator-functions.js"></script>
	<script type="text/javascript" src="static/res/public/js/creator-toolbar-cfg.js"></script>
	<script type="text/javascript" src="static/res/public/js/creator-tree.js"></script>
	<script type="text/javascript" src="static/res/public/js/creator-layout.js"></script>
</body>

</html>