<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Account</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script	src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script	src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="static/res/bootbox/node_modules/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet"	href="//cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css" />
<link rel="stylesheet" href="static/res/dhx/codebase/suite.css" />
<link rel="stylesheet" href="static/res/public/css/index.css" />
<script type="text/javascript" src="static/res/dhx/codebase/suite.js"></script>
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="module" src="static/res/bootbox/node_modules/popper.js/dist/popper.min.js"></script>
<script	src="static/res/bootbox/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script	src="static/res/bootbox/node_modules/bootbox/dist/bootbox.min.js"></script>
<script	src="static/res/bootbox/node_modules/bootbox/dist/bootbox.locales.min.js"></script>
<link rel="stylesheet" href="static/res/public/css/account.css" />